.angularChartsApp {
  text-align: center;
  padding-bottom: 6%;
  background-color: rgb(248 238 238);
}

.angularCharts {
  margin-top: -4%;
  padding-left: 0%;  
}

.angularChartsAppText {
  padding-top: 4%;
  color: crimson;
  text-align: center;
}